<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/exemples/simple-exemple">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Simple exemple</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/exemples/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Current Location</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/exemples/custom-icon">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>custom icon</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
